<%- include("partials/header") %>

    <div class="post-container">
        <div class="learning">
            <h2>
                <%= post.title %>
            </h2>
            <p>
                <%= post.content %>
            </p>
        </div>
    </div>

    <%- include("partials/footer") %>